---
layout: default
---

<div class="columns is-centered">
    <div class="column is-half">
        <div class="box">
            <div class="content">
        <h3 class="title has-text-white">how to get your following.html and followers.html </h3>

        <p>This tutorial was created in March 2025. If there are any changes, please contact me.</p>
        
        <ol>
            <li>Open <strong>Settings</strong> > <strong>Account Center</strong><br>
                <img src="https://s3.gifyu.com/images/bb3fu.png" alt="Account Center">
            </li>
            <li>Click <strong>Download Your Information</strong><br>
                <img src="https://s3.gifyu.com/images/bb3ft.png" alt="Download Your Information">
            </li>
            <li>Click <strong>Download and Transfer Information</strong><br>
                <img src="https://s3.gifyu.com/images/bb3Yz.md.png" alt="Download and Transfer Information">
            </li>
            <li>Click <strong>Some of Your Information</strong><br>
                <img src="https://s3.gifyu.com/images/bb3YK.png" alt="Some of Your Information">
            </li>
            <li>Check <strong>Followers and Following</strong><br>
                <img src="https://s3.gifyu.com/images/bb3Yh.md.png" alt="Select Followers and Following">
            </li>
            <li>Click <strong>Download to Device</strong><br>
                <img src="https://s3.gifyu.com/images/bb3YQ.md.png" alt="Download to Device">
            </li>
            <li>Click <strong>Date Range</strong><br>
                <img src="https://s3.gifyu.com/images/bb3OU.png" alt="Date Range">
            </li>
            <li>Select <strong>All Time</strong><br>
                <img src="https://s3.gifyu.com/images/bb3Ya.md.png" alt="Select All Time">
            </li>
            <li>Done! Wait for Instagram to generate the file.<br>
                <img src="https://s3.gifyu.com/images/bb3rc.md.png" alt="Wait for Instagram">
            </li>
            <li>This files from Instagram | connections > followers_and_following | Upload your files followers and following<br>
                <img src="https://s3.gifyu.com/images/bb3y5.png" alt="Upload">
                <img src="https://s3.gifyu.com/images/bb3yX.md.png" alt="Upload2">
            </li>
        </ol>

            <P>Back to <a href="{{ site.baseurl }}">IG Follower/Following Comparator</a></a></P>
            </div>
        </div>
    </div>
</div>
